<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Books</title>
</head>
<body>

{% block content %}
  {% for author in authors %}
    <p>
      {{ author.newest_book.title }} by {{ author.name }}. Published on {{ author.newest_book.published }}
    </p>

    {% if not forloop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}

</body>
</html>
